{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action="/changepassword" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat new password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change password</button>
</form>
{% endblock %}